*{
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color:#fcf8f5;
     font-family: "Rad Hat Text", sans-serif;
    
 }

 .cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
 }

  

 .dessert-cont, .order-cont{
    width: 90%;
  }

 .des-box{
    width: 100%;

 }

 .des-img{
    width: 100%;
    border-radius: 8px;
 }
 
 .des-txt{
    color: #3e1d17;
    font-weight: 600;
    
 }
 
 .add-txt{
    color: #2b221f;
 }
  

 .addD{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 120px;
    height: 30px;
    border: 1px solid #918989;
  
    position: relative;
    z-index: 1;
   margin: -1.5rem auto 0;
   background-color: #fcf8f5;
   font-size: 0.8rem;
   border-radius: 20px;
 
    
 }
 .addD:hover{
   color: #ba7455;
   border: 1px solid #ba7455;
 }

 .change{
      position: relative;
    z-index: 1;
   margin: -1.5rem auto 0;
   width: 120px;
    height: 30px;
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #c83b0e;
    align-items: center;
    font-size: 0.9rem;
    color: #fcf8f5;
    border-radius: 20px;
    padding: 0 5px;
     display: none;
 }

 .quantity{
   border: none;
   background-color: transparent;
   margin: 0 auto;
   max-width: 26px;
   color: #fcf8f5;
     text-align: center;
  
 }

 .add-img{
    width: 16px;
 }

  

 .decrease, .increase{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border:1px solid #fcf8f5;
     background-color: inherit;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: #fff;
 }

 
  

 .name{
    color: #a19490;
    font-size: 0.8rem;
 }

 .full-name{
    color:#0c0000;
 }

 .price{
    color: #c26f63;
    font-weight: 500;
 }

.name-box{
line-height: 10px;
}
 
#cart-numb{
   max-width: 15px;
   text-align: center;
   border: none;
}

.order-cont{
   background-color: #fff;
    height: max-content;
   display: flex;
   flex-direction: column;
   
}

.order-box{
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: center;
   justify-content: center;
    
}

.order-img{
   background-color: transparent;
   background-image: url("illustration-empty-cart.svg");
   background-repeat: no-repeat;
   background-position: center;
   margin: 0 auto;
   width: 60%;
   height: 150px;
}

.cart-txt, #cart-numb{
   color: #a65840;
   font-weight: 600;
   font-size: 1.2rem;
}

.order-txt{
   text-align: center;
   font-size: 0.8rem;
   color: #caafa7;
}

 .quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
} 

.tot-order{
   display: flex;
   flex-direction: row;
   width: 90%;
   padding: 0 1rem;
   justify-content: space-between;
   margin: 0 auto;
   align-items: center;
}

.carbon{
    display: flex;
   flex-direction: row;
   width: 80%;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
 background-color: #fcf8f5;
 color:#a2a3a0;
}
.carb-spn{
   color: black;
}

.order-btn, .neworderbtn{
 
  margin: 0 auto;
 
   text-align: center;
   border: none;
   border-radius: 15px;
   background-color: #c83b0e;
   color: #fff;
    
}

.order-btn{
   width: 80%;
}

.neworderbtn{
    width: 100%;
    height: 35px;
    margin-top: 1rem;
    font-size: 0.85rem;
}

.sum, .list-tit, .listtotal{
   color: #170906;
   font-weight: bold;
   font-size: 1rem;
 
}

.shelfprice{
   color: #170906;
   font-size: 1.2rem;
   
}
.order-space{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   display: none;
}

 .productdiv, .shelfDiv{
    width: 100%;
    padding: 0rem 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     
 }
 

 .rightDiv, .rightShelf{
   display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1fr;
    
 }
 .down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

 }

 .dlbtn{
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 2px solid #caafa7;
   background-image: url("icon-remove-item.svg");
   background-repeat: no-repeat;
   background-position: center;
   background-color: transparent;
 }

 .leftShelf{
   display: flex;
   flex-direction: row;
   width: 85%;
 }

 .pronum, .shelfnum{
   color: #c6796b;
 }

 .pricepro, .list-txt, .shelfproductprice{
   color:#bab6b3 ;
 }

 .pricefull{
   color: #9e8f8a;
 }

 .orderpage {
   display: flex;     
  justify-content: center;  
  align-items: center;
 position: fixed;     
  top: 0;                 
  left: 0;                 
  width: 100%;            
  background-color: rgba(0, 0, 0, 0.3);  
  z-index: 1000;           
  display: flex;     
  justify-content: center;  
  align-items: center;
  display: none;
  min-height: 100vh;
 
}

.list{
   background-color: #fff;
   display: flex;
   flex-direction: column;
   
   position: fixed;
   overflow-y: auto;
}
.shelfimg{

   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.done{
   width: 30px;
   height: 30px;
}

.list-pro{
   width: 100%;
   background-color: #fcf8f5;
   display: flex;
   flex-direction: column;
    position: static;
    overflow-y: auto;
   
}

.tot-txt{
   color: #9e9896;
   font-size: 0.85rem;
}

.list-totprice{
   display: flex;
   flex-direction: row;
   width: 90%;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

.shelfDiv{
   margin-top: 0.5rem;
   height: max-content;
}

.shelfinf{
   display: flex;
   flex-direction: column;
   height: max-content;
   width: 70%;
}

 .shelfdown{
   
   display: flex;
   flex-direction: row;
   position: relative;
  align-items: flex-start;
 }
 

 

@media screen and (max-width: 768px) {
    .dessert-cont, .order-cont{
        width: 100%;
        max-width: 340px;
        margin: 1rem auto 0;
    }

    .des-txt{
        font-size: 1.5rem;
    }

    .shelfprice{
      font-size: 0.9rem;
    }

    .cart-txt{
   margin-left: 0.5rem;
}

.tot-order{
   
   font-size: 0.9rem;
   color:#a2a3a0;
}

.carbon{
 border-radius: 5px;
 font-size: 0.9rem;
  
}

.order-btn{
 height: 40px;   
 font-size: 0.95rem;
 margin: 1rem auto;
}
.namepro{
   font-size: 0.9rem;
}
.sum, .listtotal{
   font-size: 1.2rem;
}

.list{
   max-width:350px;
    max-height: 600px;
   width: 100%;
   padding: 0.5rem 1rem;
  align-self: flex-end;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.list-pro{
   padding: 0.2rem 0.7rem;
}

.list-tit{
   font-size: 1.5rem;
   margin-bottom: -0.3rem;
}

.list-txt{
   font-size: 0.75rem;
}
.done{
   margin-bottom: -0.6rem;
}

 
.orderpage{
   max-height: 400px;
}
 
.shelfname{
   font-size: 0.75rem;
}

.shelfnum, .shelfproductprice{
   font-size: 0.8rem;

}

.shelfnum{
   margin-right: 0.5rem;
}

.shelfimg{
   height: 55px;
   width: 55px;
   margin: 0.6rem 0.5rem 0 0;
   border-radius: 5px;
}
.products-list{
max-height: 300px;
overflow-y: auto;
}
  
.down{
   width: 200px;
}
 
}


@media screen and (min-width: 769px) and (max-width: 1024px){
.cont{
  display: grid;
   width: 97%;
   margin: 0 auto;
    grid-template-columns: 60% 1fr;
    grid-gap: 1rem;
}

.namepro{
   font-size: 0.9rem;
   
}

.down{
   font-size: 0.9rem;
}

.list{
   max-width:400px;
    max-height: 500px;
   width: 100%;
   padding: 1rem 1.3rem;
   border-radius: 10px;
}
.products-list{
max-height: 400px;
overflow-y: auto;
}

.shelfprice{
      font-size: 1rem;
    }

.list-pro{
   padding: 0.2rem 0.5rem;
}

.list-tit{
   font-size: 1.6rem;
   margin-bottom: -0.3rem;
}

.list-txt{
   font-size: 0.8rem;
}
.done{
   margin-bottom: -0.6rem;
}

.shelfimg{
     width: 65px;
   height: 100%;
}
 

.order-cont{
   width: 100%;
   margin-top: 2rem;
}
.dessert-cont{
   width: 100%;
 }

.order-box{
   width: 90%;
   margin: 0 auto;
}

.leftDiv{
   width: 70%;
   
}

.rightDiv{
   width: 30%;
}

 .product{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
 }

 .des-txt{
        font-size: 1.8rem;
    }
    .cart-txt{
   margin-left: 0.8rem;
}

.tot-order{

   font-size: 0.85rem;
   color:#a2a3a0;
}

.carbon{
 
 font-size: 0.85rem;
 width: 90%;
  
}

.order-btn{
 height: 40px;   
 font-size: 0.95rem;
 margin: 1rem auto;
}

.sum, .listtotal{
   font-size: 1.4rem;
}
.shelfname{
   font-size: 0.8rem;
}
.shelfnum, .shelfproductprice{
   font-size: 0.9rem;

}

.shelfnum{
   margin-right: 0.5rem;
}
.shelfimg{
   height: 70px;
   width: 70px;
   margin: 0.5rem 0.5rem 0 0;
   border-radius: 5px;
}
.neworderbtn{
   width: 100%;
    height: 55px;
}

.down{
   width: 185px;
}
}


@media screen and (min-width: 1025px) {
.cont{
   display: grid;
   width: 90%;
   margin: 0 auto;
    grid-template-columns: 62% 1fr;
    grid-gap: 1rem;
}
.dessert-cont{
    width: 100%;
}

.full-name{
   font-size: 0.9rem;
}
.order-cont{
   width: 100%;
   max-width: 450px;
   margin-top: 3rem;
 }
 .product{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   width: 100%;
   grid-gap: 10px;
 }

 .des-txt{
        font-size: 2rem;
    }
    .cart-txt, #cart-numb{
   color: #a65840;
   font-weight: 600;
   font-size: 1.2rem;
}

.cart-txt{
   margin-left: 1rem;
}
 

 .decrease:hover, .increase:hover{
  background-color: #fff;
  color: #c83b0e;
 }


 .tot-order{
  
   font-size: 0.9rem;
   color:#a2a3a0;
}

.carbon{
 border-radius: 5px;
  
  
}

.add-txt:hover, .order-btn:hover, .increase:hover, .decrease:hover, .addD:hover, .neworderbtn:hover{
   cursor: pointer;
 }

.order-btn{
 height: 45px;   
 font-size: 1.05rem;
 margin: 1.5rem auto;
}
.sum,.listtotal{
   font-size: 1.55rem;
}
.list{
   max-width:460px;
  max-height: 550px;
   width: 100%;
   padding: 1rem 1.3rem;
   border-radius: 7px;
}

.list-pro{
   padding: 0.2rem 0.8rem;
}

.list-tit{
   font-size: 1.6rem;
   margin-bottom: -0.3rem;
}

.list-txt{
   font-size: 0.8rem;
}
.done{
   margin-bottom: -0.6rem;
}

.shelfname{
   font-size: 0.85rem;
}

.leftShelf{
   height: max-content;

    
}

.shelfnum, .shelfproductprice{
   font-size: 0.9rem;

}

.shelfnum{
   margin-right: 0.5rem;
}

.shelfimg{
   height: 80px;
   width: 80px;
   margin: 0.5rem 0.5rem 0 0;
   border-radius: 5px;
}
 
 
.products-list{
max-height: 500px;
overflow-y: auto;
}

.neworderbtn{
   width: 100%;
    height: 65px;
}

.down{
   width: 220px;
}
 
}